.app-header{
  width: 100%;
  height: 100vh;
  background-color: #151D3B;
  display: flex;
  flex-direction: column;
}
.app-header h2{
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 42px;
}

@media (min-width: 750px){
  .app-header{
    height: 100%;
   
  }
}